### Integrantes:
* Geancarlo Murillo
* Daniel Saigua

### Taller 2
Responder las siguientes preguntas: 
 - Quien trae más dinero a la empresa?
 - Los 10 productos mas rentables
 - Encontrar transacciones sospechosas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('sales.csv', index_col=0)
df.head()

   ID Prod    Quant      Val  Insp
1  v1   p1    182.0   1665.0  unkn
2  v2   p1   3072.0   8780.0  unkn
3  v3   p1  20393.0  76990.0  unkn
4  v4   p1    112.0   1100.0  unkn
5  v3   p1   6164.0  20260.0  unkn

### Empleado que trae más dinero

Para obtener el empleado que más dinero ingresa a la empresa, agrupamos por `Id de vendedor` y sumamos `Val` q

In [4]:
df.groupby('ID')['Val'].sum().idxmax()

'v431'