### Integrantes:
* Geancarlo Murillo
* Daniel Saigua

### Taller 2
Responder las siguientes preguntas: 
 - Quien trae mas dinero a la empresa?
 - Los 10 productos mas rentables

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('sales.csv', index_col=0)

In [6]:
df.head()

           ID   Prod  Quant     Val  Insp
411814  v5918  p4126  113.0  9330.0  unkn
411815  v2540  p4126  118.0  3355.0  unkn
411816  v5896  p4127  143.0  1835.0  unkn
411817  v1796  p4127  102.0  1445.0  unkn
411818  v2540  p4127  106.0  1275.0  unkn